<div class="container-fluid" style="text-align:center;">
  <img class="mx-auto" id="img_not_found" src="https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif" style="border-radius:5px;margin-top:30px;margin-bottom:30px;display:block;" alt="">
  <a id="not_found" class="card-subtitle {{str_dark}}" style="margin: 0 auto;">{{notfound_lang}}</a>
  <button style="display:block;margin:auto;padding:10px;margin-top:20px;" class="btn btn-danger" (click)="goback()"><b>< {{back_lang}}</
  b></button>
</div>


